# Build folders
bin/
obj/

# Markdown files
*.md

# Configuration files with DB connection
appsettings.json
appsettings.Development.json

# IDE files
.vs/
.idea/
*.user
*.suo

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Unnecessary files for this practice
Views/
wwwroot/
Properties/
Models/ErrorViewModel.cs
Models/dbContextpractica2.cs
